<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" monitorInterval="30">
    <Properties>
        <Property name="LOG_PATTERN">
            %-5p - [%d{dd/MM/yyyy hh:mm:ss}] - [%C %L] - %m%n
        </Property>
    </Properties>
    
    <Appenders>
        <Console name="ConsoleAppender" target="SYSTEM_OUT" follow="true">
            <PatternLayout pattern="${LOG_PATTERN}"/>
        </Console>
        
        <!-- Rolling File Appender -->
        <RollingFile name="FileAppender" fileName="../logs/app.log" 
                     filePattern="../logs/app-%d{yyyy-MM-dd}-%i.log">
            <PatternLayout>
                <Pattern>${LOG_PATTERN}</Pattern>
            </PatternLayout>
            <Policies>
                <SizeBasedTriggeringPolicy size="10MB" />
            </Policies>
            <DefaultRolloverStrategy max="30"/>
        </RollingFile>
        
    </Appenders>
    
    <Loggers>
        <Logger name="me.eduardova.demo" level="debug" additivity="false">
            <AppenderRef ref="FileAppender" />
        </Logger>

        <Root level="info">
            <AppenderRef ref="ConsoleAppender" />
        </Root>
    </Loggers>
    
</Configuration>